/* main styling (not from the turorial) */
html {
    background: #222;
    color: #ddd;
    display: block;
    font-family: sans-serif; font-size: 1.5rem;
}

h1 {
    text-align: center;
    text-shadow: 0 0 32px black;
    margin-top: 32px;
}

p {
    background-color: #333;
    width: 60vw;
    margin: 24px auto; padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0 0 64px black;
}

#out {
    font-weight: bold;
    transition: background-color 1s ease;
}

ul {
    background-color: #333;
    color: #ddd;
    caret-color: white;
    display: block;
    width: 60vw;
    font-size: .85rem;
    line-height: 1.25rem;
    margin: 24px auto; padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0 0 64px black;
}

input {
    background-color: #333;
    color: #ddd;
    caret-color: white;
    text-align: center;
    display: block;
    width: 60vw;
    font-size: 1rem;
    margin: 24px auto; padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 0 64px black;
}

button {
    background-color: #333;
    color: #ddd;
    display: block;
    width: 20vw;
    font-size: 1rem;
    margin: 24px auto; padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0 0 64px black;
}

hr {
    border: outset 2.5px #5554;
    border-radius: 4px;
}